.popup__text-field_name {
  width: 100%;
  border-width: 0 0 1px;
  border-color: rgba(0, 0, 0, 0.2);
  padding: 0;
  height: 27px;
  margin-bottom: 30px;
}

@media screen and (max-width: 550px) {
  .popup__text-field_name{
    margin-bottom: 20px;
  }
}