@import url("__info/profile__info.css");
@import url("__btn/profile__btn.css");
@import url("__avatar/profile__avatar.css");
@import url("__name/profile__name.css");
@import url("__description/profile__description.css");
@import url("__container/profile__container.css");

.profile {
    display: grid;
    grid-template-columns: 120px 1fr 150px;
    grid-template-rows: 70px 50px;
    grid-template-areas: 
        "avatar info button_add" 
        "avatar description .";
}

@media screen and (max-width: 768px) {
    .profile {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}