@import url('_action/profile__btn_action_add.css');
@import url('_action/profile__btn_action_edit.css');

.profile__btn {
  display: flex;
  border: none;
  background-color: transparent;
}

.profile__btn:hover {
    opacity: 0.8;
}