@import url("__logo/header__logo.css");

.header {
  display: flex;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 320px) {
  .header {
    position: relative;
    top:0;
    left: -20px;
    width: calc(100% + 40px);
    z-index: -1;
  }
}