.profile__btn_action_edit {
    background-image: url('../../../../images/editButton.svg');
    background-repeat: no-repeat;
    padding: 0;
    height: 26px;
    width: 30px;
    grid-area: button_edit;
}
