.profile__avatar-container {
    height: 120px;
    width: 120px;
    grid-area: avatar;
}
  
@media screen and (max-width: 768px) {
  .profile__avatar-container  {
    margin: 0 auto;
  }
}

.profile__avatar-container:hover .profile__avatar {
  opacity: 0.2;
}

.profile__avatar-container:hover .profile__avatar-edit {
  display: inline;
}