.profile__description {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    margin-left: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    grid-area: description;
}

@media screen and (max-width: 768px) {
    .profile__description {
        margin: 0;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-bottom: 36px;
    }  
}