.card__image {
  display: flex;
  flex-direction: column;
  min-height: 282px;
  width: 100%;
  background-position: center;
  border-radius: 12px 12px 0 0;
  cursor: pointer;
}

.card__image:hover {
  opacity: 0.8;
}