.popup__btn_action_save {
  margin: 48px 0 37px;
  background-color: black;
  width: 100%;
  color: white;
  min-height: 50px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 0;
}

@media screen and (max-width: 550px) {
  .popup__btn_action_save {
    margin: 36px 0 30px;
    min-height: 40px;
    font-size: 14px;
    line-height: 17px;
  }
}