@import url('_type/popup__container_card.css');
@import url('_type/popup__container_form.css');

.popup__container {
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 430px;
}

@media screen and (max-width: 550px) {
  .popup__container {
    width: 240px;
  }
}