@import url('_type/card__like_inactive.css');
@import url('_type/card__like_active.css');

.card__like {
  background-position: center;
  background-color: transparent;
  width: 22px;
  height: 22px;
  border: none;
  background-repeat: no-repeat;
  padding: 0;
  cursor: pointer;
}

.card__like:hover {
  opacity: 0.8;
}