.page__container {
  margin: 0 auto;
  max-width: 882px;
}

@media screen and (max-width: 922px) {
  .page__container {
    margin: 0 40px;
  }
}

@media screen and (max-width: 768px) {
    .page__container {
        margin: 0 20px;
    }
}