@import url('_type/popup-form__text_type_name.css');
@import url('_type/popup-form__text_type_decription.css');

.popup-form__text {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
}