.popup__btn_action_save {
  margin: 48px 0 37px;
  background-color: black;
  width: 100%;
  color: white;
  min-height: 50px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 0;
}